

* {
  margin: 0%;
  padding: 0%;
}

@font-face {
  font-family: myFirstFont;
  src: url(TitilliumWeb-Regular.ttf);
}

div {
  font-family: myFirstFont;
}


/* hero2 */
:root {
  --hero-height: 60vh;
  --hero-max-height: 600px;

  --Brown-Orange: rgba(216, 123, 0);
  --Orange: rgba(255, 165, 0);
  --Black: rgba(10, 10, 10);
  --Brown-Orange-nav: rgb(216, 123, 0);
  --Wit: rgba(255, 255, 255);
  --Background-Black: rgba(51, 51, 51);
}

body{
  background-color: var(--Background-Black);
  color: var(--Orange);
  font-family: myFirstFont;
}

.nav_list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: hidden;
  list-style: none;
  background-color: var(--Brown-Orange-nav);
  
  li {
    background-color: var(--Black);
    font-size: 17px;
    padding: 15px;
    padding-inline: 20px;  
  }

  li:hover{
    background-color: var(--Orange)
  }
  img{
    max-width: 50px;
    max-height: 50px;
    padding-left:50px ;
  }
  a{
    color: var(--Wit);
  }
  a:hover{
    color: var(--Black);
    background-color: var(--Orange);
  }
  
}

.product_thing{
 display: flex;
 justify-content: space-around;
 border: solid var(--Orange);
 background-color: var(--Black);

 margin-top: 12ch;
 margin-bottom: 12ch;
 


 img{
  margin: 50px;
  max-height: 200px;
 }





}





footer{
  background-color: black;
  text-align: center;
  bottom: auto;
}


.hero {
  display: grid;
  grid-template-areas: "hero";
  place-items: center;
  height: var(--hero-height);
  max-height: var(--hero-max-height);
  background-color: rgba(0, 0, 0, 0.5);
}


.hero>* {
  grid-area: hero;
}


.hero>img {
  z-index: -1;

  object-fit: cover;
  height: min(var(--hero-height), var(--hero-max-height));
  width: 100%;
}


.box{

  border: solid var(--Orange);
  padding: 2rem;
  background-color: var(--Black);
  margin-inline: auto;
  max-width: 80ch;
  margin-top: 12ch;
  margin-bottom: 12ch;
}





.box_with_img{

  border: solid var(--Orange);
  padding: 2rem;
  background-color: var(--Black);
  margin-inline: auto;
  max-width: 80ch;
  margin-top: 12ch;
  margin-bottom: 12ch;
  padding-bottom: 4rem;

}



.example-img{
  max-width: 50%;
  max-height: 50%;
  width: 200px;
  height: 200px;

}



.color-list{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  list-style: none;
  margin-bottom: 12ch;

  li{
    width: 10rem;
    display: grid;
    place-items: center;
  }
}


.black {
  background-color: var(--Black);
}

.orange {
  background-color: var(--Orange);
  color: var(--Black);
}

.brown-orange {
  background-color: var(--Brown-Orange);
  color: var(--Black);
}

.wit {
  background-color: var(--Wit);
  color: black;
}

.background-black {
  background-color: var(--Background-Black);
}

.sliver {
  background-color: var(--Brown-Orange-nav);
  color: black;
}

.buy_img{
  display: flex;
  align-items: center;
  justify-content: space-around;
  

  margin: 100px;
  max-height: 200px;

}

.buy_item{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--Brown-Orange);
  color: var(--Black);



}

.buy_item {
  display: flex;
  align-items: center;
  background-color: var(--Brown-Orange);
  color: var(--Black);
  margin-inline: 500px;
  margin-top: 100px;
  margin-bottom: 50px; 
  
}

.buy_item:hover{


  background-color:red ;
  color: var(--Black);  
}

